DATABASE_URL=""


SERVER_PORT=4000
NODE_ENV=development

NEXTAUTH_SECRET=Staff
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL="http://localhost:4000"

MICROSOFT_CLIENT_ID=your-microsoft-client-id
MICROSOFT_CLIENT_SECRET=your-microsoft-client-secret
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret



REDIS_URL="redis://localhost:6379"

JWT_SECRET="change-me-in-production"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="change-me-refresh-in-production"
JWT_REFRESH_EXPIRES_IN="7d"
